*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    
    /* #### Backgrounds */
    --mainBackground: hsl(222, 26%, 31%);
    --keypadBackground: hsl(223, 31%, 20%);
    --screenBackground: hsl(224, 36%, 15%);

    /* #### Keys */

    --resetAndDel: hsl(225, 21%, 49%);
    --resetAndDelShadow: hsl(224, 28%, 35%);

    --equalBtn: hsl(6, 63%, 50%);
    --equalBtnShadow: hsl(6, 70%, 34%);

    --btnBackground: hsl(45, 7%, 89%);
    --btnShadow: hsl(35, 11%, 61%);


    /* #### Text */
    --primary: #fff;
    --secondary: hsl(221, 14%, 31%);
    --white: #fff;

    
}


html {
    font-size: 16px;
    font-family: 'Spartan', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

.flex {
    display: flex;
    justify-content: space-between;
}


.container-main {
    background: black;
    padding: 5rem 0;
    min-width: 375px;
    width: 100vw;
    min-height: 580pxs;
    height: 100vh;

    display: flex;
    align-items: center;
}

h1, h2 {
    margin: 0;
}

/* * {
    outline: 1px solid red;
} */

.calc {
    background: var(--mainBackground);
    color: var(--primary);
    width: 375px;
    min-width: 375px;
    margin: 0 auto;
    padding: 1rem;
    
}

/* HEADER */
.calc__name {
    justify-content: flex-end;
}
.calc__name h1 {
    color: var(--primary);
    font-size: 2.2rem;
}

.calc__theme {
    align-items: flex-end;
    color: var(--primary);
}
.calc__theme h2 {
    text-transform: uppercase;
    font-size: .8rem;
    margin-right: 1.5rem;
}
.labels label {
    margin: 0 3px;
    padding: .1rem .5rem;
}
.theme__select {
    background: var(--keypadBackground);
    padding: .2rem .4rem;
    border-radius: 2rem;
}
.theme__select input {
    margin: 3px;
}
/* .theme__select input::before {
    content: '';
    background-color: var(--primary);
    box-sizing: border-box;
    margin: 3px 3px 0px 5px;
    padding: .03rem .5rem;
    border-radius: 50%;
    position: relative;
    left: -6px;
} */



/* HEADER */



/* DISPLAY */

.display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: .5rem;
    background: var(--screenBackground);
}
.display__num {
    font-size: 2rem;
    color: var(--primary);
}

/* DISPLAY */


/* CALULATOR MAIN */

.calc__numbers {
    border-radius: .5rem;
    padding: 1rem;
    background: var(--keypadBackground);
}

.calc__sm {
    flex-wrap: wrap;
}


.calc__btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 21%;
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    background: var(--btnBackground);
    border-radius: .3rem;
    font-size: 1.2rem;
    color: var(--secondary);
    box-shadow: 0 5px var(--btnShadow);
}
.num {
    font-size: 2rem;
}

.btn--md {
    width: 47%;
    margin-bottom: 0;
}
#equal {
    background: var(--equalBtn);
    box-shadow: 0 5px var(--equalBtnShadow);
    color: var(--white);
}
#reset, #del {
    background: var(--resetAndDel);
    box-shadow: 0 5px var(--resetAndDelShadow);
    color: var(--white);
}

/* CALULATOR MAIN */


@media (min-width: 500px) {
    .calc {
        width: 50%;
        max-width: 650px;
    }
}